 // namespace App\Http\Controllers\AccessDirectController; // use Illuminate\Http\Request; // use App\Http\Controllers\Controller; // use App\Http\Controllers\AccessDirectController\ApiAccessDirectController; // use App\AccessDirectMetro; // class GetAccessDirectController
extends Controller // { // public function __construct() // { // // parent::__construct(); // date_default_timezone_set('Asia/Jakarta'); // $this->api = new ApiAccessDirectController(); // } // public function index() { // return view('modul_inventory.directmetro');
// } // public function getapiDirectMetroReg1($val = '') // { // $val = ''; // $response = $this->api->apiDirectMetroReg1(); // $data = json_decode($response); // try { // \DB::beginTransaction(); // $dbase = AccessDirectMetro::count(); // $dbases = $dbase;
// if (!empty($data->d)) { // foreach($data->d->results as $key) { // foreach($key->portmfs->results as $row ) { // if ($row->max_im_Utilization == null) { // // $key = "AKSES_ME-D1-BBTA/1/1/3_TO_NODE-B_TSEL_SKY090-SUNGAI-ANGIT-BBTOMAN"; // $ke = $key->Description;
// $site_id = preg_match("/[A-Z]{3}[0-9]{3}/", $ke, $matches); // foreach ($matches[0] as $data) { // // echo $data; // $variable = strstr($key, $data, false); // $okelah = preg_match("/AKSES_/", $ke); // if ($okelah) { // // echo "Ada Akses ME"; // $azz
= [ // 'utilization%' => $row->Value, // 'utilization_cap' => $key->SpeedIn * $row->Value, // 'siteid_tsel' => $data, // 'sitename_tsel' => $variable, // 'regional_telkom' => 2, // 'me_dm_telkom' => $key->device->Name, // 'port_dm_telkom' => $key->Name,
// 'capacity' => $key->SpeedIn, // 'description' => $key->Description, // ]; // $store = AccessDirectMetro::create($azz); // } else { // echo 0; // } // } // } // } // } // } // $dbase2 = AccessDirectMetro::count(); // $dbases2 = $dbase2; // $dbases3
= $dbases2 - $dbases; // $dbases4 = $dbases3 + $dbases; // echo "Data lama : ".$dbases; echo "<br>"; // echo "Penambahan Data Baru : ".$dbases3; echo "<br>"; // echo "Total Data : ".$dbases4; // \DB::commit(); // } catch(\Exception $e) { // \DB::rollback();
// $error = $e->getMessage()." ".$e->getFile()." ".$e->getLine(); // return $error; // } // } // public function getapiDirectMetroReg2($val = '') // { // $val = ''; // $response = $this->api->apiDirectMetroReg2(); // $data = json_decode($response); //
try { // \DB::beginTransaction(); // $dbase = AccessDirectMetro::count(); // $dbases = $dbase; // if (!empty($data->d)) { // foreach($data->d->results as $key) { // foreach($key->portmfs->results as $row ) { // if ($row->max_im_Utilization == null) {
// // $key = "AKSES_ME-D1-BBTA/1/1/3_TO_NODE-B_TSEL_SKY090-SUNGAI-ANGIT-BBTOMAN"; // $ke = $key->Description; // $site_id = preg_match("/[A-Z]{3}[0-9]{3}/", $ke, $matches); // foreach ($matches[0] as $data) { // // echo $data; // $variable = strstr($key,
$data, false); // $okelah = preg_match("/AKSES_/", $ke); // if ($okelah) { // // echo "Ada Akses ME"; // $azz = [ // 'utilization%' => $row->Value, // 'utilization_cap' => $key->SpeedIn * $row->Value, // 'siteid_tsel' => $data, // 'sitename_tsel' => $variable,
// 'regional_telkom' => 2, // 'me_dm_telkom' => $key->device->Name, // 'port_dm_telkom' => $key->Name, // 'capacity' => $key->SpeedIn, // 'description' => $key->Description, // ]; // $store = AccessDirectMetro::create($azz); // } else { // echo 0; //
} // } // } // } // } // // $merge = ['arr' => $arr1, 'Value' => $arr2, 'Port' => $arr3, 'Description' => $arr4]; // // return $merge; // } // $dbase2 = AccessDirectMetro::count(); // $dbases2 = $dbase2; // $dbases3 = $dbases2 - $dbases; // $dbases4 =
$dbases3 + $dbases; // echo "Data lama : ".$dbases; echo "<br>"; // echo "Penambahan Data Baru : ".$dbases3; echo "<br>"; // echo "Total Data : ".$dbases4; // \DB::commit(); // } catch(\Exception $e) { // \DB::rollback(); // $error = $e->getMessage()."
".$e->getFile()." ".$e->getLine(); // return $error; // } // } // public function DetailDirect($regional) // { // if($regional==0) // { // $ix = AccessDirectMetro::get(); // } // else { // $ix = AccessDirectMetro::where('regional_telkom', $regional)->get();
// } // return view('modul_inventory.directmetro')->with('direct',$ix)->with('regional',$regional); // } // public function test() { // $key = "AKSES_ME-D1-BBTA/1/1/3_TO_NODE-B_TSEL_SKY090-SUNGAI-ANGIT-BBTOMAN"; // $site_id = preg_match_all("/[A-Z]{3}[0-9]{3}/",
$key, $matches); // foreach ($matches[0] as $data) { // echo $data; // $variable = strstr($key, $data, false); // $okelah = preg_match("/AKSES_ME/", $key); // if ($okelah) { // echo "Ada Akses ME"; // $azz = [ // 'siteid_tsel' => $data, // 'sitename_tsel'
=> $variable, // 'description' => $key, // ]; // $store = AccessDirectMetro::create($azz); // } else { // echo 0; // } // $dbase2 = AccessDirectMetro::count(); // echo "Total Data : ".$dbase2; // } // // $s = 'Posted On April 6th By Some Dude'; // //
echo strstr($s, 'By', false); // }